@model Business.PageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="~/Scripts/tableGenerator.js"></script>
    <script src="~/Scripts/XSDParser.js"></script>


    <link rel="icon" type="image/gif" href="~/Imagenes/exoLogistica.gif" />
    <link rel="shortcut icon" href="~/Imagenes/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- -------------------------------------------------------------------------------------------------------->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <!-- -------------------------------------------------------------------------------------------------------->

</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <p class="breadcrumb">
                        Home\

                    </p>
                    <ul class="icons">
                        <li><a href="http://www.exo-logistica.com/" class="icon fas fa-home"><span class="label">Home</span></a></li>
                        <li><a href="https://ar.linkedin.com/company/exologistica" class="icon fab fa-linkedin"><span class="label">Linkedin</span></a></li>
                        <li><a id="exportToPdf" class="icon fas fa-file-pdf"><span class="label">Pdf</span></a></li>
                    </ul>
                </header>

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="inner">
            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <img src="~/Imagenes/exoLogistica.png" alt="" />
                    <h2><a href="/" id="menuPrincipal">Menu</a></h2>
                </header>
                <div>
                    <ul id="tree" path="Home">
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script>

        var openFile = function (path) {

            $(".content").html("<h1>Loading...</h1>");

            $.ajax({
                type: "GET",
                url: "/Home/ViewDoc?path=" + path,
                success: function (response) {
                    var content = $(".content").html(response);
                },
                error: function (request, error) {
                    $(".content").html("<h1>No se encontro archivo</h1>");
                },
            });

            $('#exportToPdf').click(function () { downloadPdf(path) });
        }

        var downloadPdf = function (path) {
            window.location = "/Home/DownloadPdf?path=" + path;
        }



        var ROOT_PATH = "C:\\Exologistica";
        var LOGIC_ROOT = 'Home';
        var setBreadcrumb = function(path) {
            $(".breadcrumb").html("");
            $(".breadcrumb").text(path);
        }

        var clicked = function (path, containerId) {
            var container = $("#" + containerId);
            $(".content").html("");

            if (container.parent().siblings().find('ul').hasClass("opened")) {
                container.parent().siblings().find('ul').removeClass("opened");
                container.parent().siblings().find('ul').html("");
            }

            if (container.hasClass("opened")) {
                container.removeClass("opened");
                container.html("");
                setBreadcrumb(container.parent().parent().attr('path').replace(ROOT_PATH, LOGIC_ROOT) + '\\');
            } else {
                var pa = container.attr('path').replace(ROOT_PATH, LOGIC_ROOT);
                setBreadcrumb(pa + "\\");
                $("#" + containerId).addClass("opened");
                openNode(path, containerId);
            }

            var $iconDiv = container.siblings().children(".iconClass");
            if ($iconDiv.hasClass("fa-angle-right")) {
                $iconDiv.addClass("fa-angle-down").removeClass("fa-angle-right");
            } else {
                $iconDiv.addClass("fa-angle-right").removeClass("fa-angle-down");
            }
        }

        var openNode = function (path, containerId) {
            $.ajax({
                type: "GET",
                url: "/Home/Test?path=" + path,
                dataType: "json",
                success: function (response) {
                    $(response.Childrens).each(function (index, item) {
                        var ul = "<ul id='" + containerId + "-" + index + "' class='children' path='" + item.Path + "'></ul>";
                        $("#" + containerId).append("<li><a onClick=clicked('" + encodeURI(item.Path) + "','" + containerId + "-" + index + "')>" + item.Name + " " + "<div class ='fas fa-angle-right iconClass'> </div>" + "</a>" + ul + "</li>");
                    });

                    $(response.Documents).each(function (index, item) {
                        $("#" + containerId).append("<li><a onClick=openFile('" + encodeURI(item.Path) + "')>" + item.Name + "</a></li>");
                    });
                }
            });
        };

        openNode("C:\\Exologistica", "tree");
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
