@model Business.PageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="~/Scripts/tableGenerator.js"></script> 
    <script src="~/Scripts/XSDParser.js"></script>  


    <link rel="icon" type="image/gif" href="~/Imagenes/exoLogistica.gif" />
    <link rel="shortcut icon" href="~/Imagenes/favicon.ico">


</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                        <ul class="icons">
                            <li><a href="http://www.exo-logistica.com/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
                        </ul>
                    </header>

                <!-- Banner -->
                <section id="banner">   
                    <div class="content">
                        @RenderBody()
                    </div>

                </section>


            </div>
        </div>
        </div>
        <div id="sidebar">
            <div class="inner">



                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <img src="~/Imagenes/exoLogistica.png" alt="" />
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="/">Homepage</a></li>

                        <h2>@ViewBag.Title</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var dir in Model.CurrentFolder.Childrens)
                                    {
                                        <li>
                                            <a href="/Home/Directory?path=@dir.Path" class="opener">@dir.Name</a>
                                        </li>
                                 
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var doc in Model.CurrentFolder.Documents)
                                    {
                                        <li><a href="/Home/ViewDoc?path=@doc.Path">@doc.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                       @* <li> Ejemplo de menu
                                <span class="opener">Submenu</span>
                                <ul>
                                    <li><a href="#">Lorem Dolor</a></li>
                                    <li><a href="#">Ipsum Adipiscing</a></li>
                                    <li><a href="#">Tempus Magna</a></li>
                                    <li><a href="#">Feugiat Veroeros</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Etiam Dolore</a></li>
                            <li><a href="#">Adipiscing</a></li>
                           *@
                    </ul>
                </nav>




            </div>


        </div>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    
</body>
</html>
